// Wrapper
// -------------------------
.wrapper {
  max-width: 20em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  position: relative;

  @media screen and (min-width: $breakpoint-md) {
    max-width: 38em;
  }

  @media screen and (min-width: $breakpoint-lg) {
    max-width: 55em;
  }
}

// Visual styles
// ---------------------
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #00365d;
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  font-family: "Arvo", serif;
}

h1 {
  font-size: 1.6rem;
  color: #fff;
  margin: 0;

  @media screen and (min-width: $breakpoint-md) {
    font-size: 2.1rem;
  }

  @media screen and (min-width: $breakpoint-lg) {
    font-size: 2.5rem;
  }
}

img {
  display: block;
  max-width: 100%;
}

.page-footer {
  grid-row: 3;
  padding: 1em;
  color: #fff;
  text-align: center;

  a {
    color: #e066ad;
  }

  a:hover {
    text-decoration: none;
  }
}

.item {
  background: #fff;
}

.item-1 {
  background: #a5cfed;
}

.item h2 {
  font-size: 1.2rem;
  margin: 0;
  padding: 0.2em 0.5em;
  background: #a5cfed;

  @media screen and (min-width: $breakpoint-md) {
    font-size: 1.5rem;
  }
}

.item p {
  margin: 0;
  padding: 0.5em;
}

.see-more a {
  color: #fff;

  &:hover {
    text-decoration: none;
  }
}

.media {
  display: flex;
  flex-direction: column;
}

.media-content {
  flex: 1 1 auto;
}
